<div id="content">

    <div class="row">
        <big-breadcrumbs items="['Выбор клиента']" icon="user" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="app.terraSeller.client-search" >
                    <span class="glyphicon glyphicon-plus"></span>
                    Добавить клиента
                </button>
            </div>
        </div>
    </div>
    <br/>

    <p class="text-center text-muted" if-loading>
        <span class="fa fa-spinner fa-spin fa-4x"></span>
        <br /><br />
        Загрузка данных, подождите...
    </p>

    <div class="row" ng-show="vm.clientInfo.name" style="margin-top: 50px;margin-left: 15px">
        <div class="row" style="padding-left: 15px">
            <label class="control-label">Клиент</label><br>
            <div style="float: left">
                <select id="clients" name="clients" class="form-control" ng-model="vm.emplSettings.lastClientCode"  ng-change="vm.selectClient()" style="max-width: 300px">
                    <option ng-repeat="client in vm.clientsList.list" value="{{client.code}}">{{client.name}}</option>
                </select>
            </div>
            <div style="float: left; padding-left: 10px">
                <button class="btn btn-warning" ng-click="vm.deleteClient()">
                    <span class="glyphicon glyphicon-minus-sign"></span>
                    Удалить
                </button>
            </div>
        </div>
        <br><br>

        <h3>Клиент: {{vm.clientInfo.name}}</h3>
        <strong>Код клиента: </strong>{{vm.clientInfo.code}}<br><br>
        <strong>Статистика: </strong>{{vm.clientStatistic}}<br><br>
        <strong>Скидка: </strong>{{vm.clientInfo.discount}}<br><br>
        <strong>Адрес: </strong>{{vm.clientInfo.address}}<br>
        <abbr title="Телефон"><strong>Тел: </strong></abbr>{{vm.clientInfo.phone}}<br>
        <abbr title="Мобильный телефон"><strong>Моб.тел: </strong></abbr>{{vm.clientInfo.cphone}}<br><br>
        <strong>Группа: </strong>{{vm.clientInfo.group}}<br>
        <strong>Менеджер: </strong>{{vm.clientInfo.manager}}<br>
        <strong>Центр затрат: </strong>{{vm.clientInfo.center}}<br>
        <strong>Примечание: </strong>{{vm.clientInfo.contacttext}}<br>
    </div>

</div>
