<div id="content">

    <div class="row">
        <big-breadcrumbs items="['Корзины']" icon="user" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div>
                <button class="btn btn-primary" data-toggle="modal" data-target="#newBasket" >
                    <span class="glyphicon glyphicon-plus"></span>
                    Создать корзину
                </button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#delBasket" >
                    <span class="glyphicon glyphicon-minus"></span>
                    Удалить
                </button>
            </div>
        </div>
    </div>
    <br/>

    <div class="alert alert-success" ng-show="vm.success">
        <strong>Корзина добавлена!</strong>
    </div>

    <div class="alert alert-danger" ng-show="vm.errorNameExists">
        <strong>Корзина с таким наименованием уже есть!</strong> Пожалуйста укажите другое.
    </div>

    <div class="alert alert-danger" ng-show="vm.error">
        <strong>Произошла ошибка!</strong> Корзина не добавлена.
    </div>

    <div ng-show="vm.clientBaskets&&(vm.clientBaskets.length > 0)" class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
        <div class="widget-body">
            <p></p>

            <ul id="basketTabs" class="nav nav-tabs bordered">
                <li ng-repeat="basket in vm.clientBaskets" ng-click="vm.selectBasket(basket)" ng-class="{active: basket.id == vm.clientBasket.id}">
                    <a href="#{{ basket.id }}" data-toggle="tab">{{basket.name}}</a>
                </li>
            </ul>

            <div id="basketTabsContent" class="tab-content padding-10">
                <div class="table-responsive">

                    <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                        <thead>
                        <tr>
                            <th style="vertical-align: middle">Количество</th>
                            <th style="vertical-align: middle">Картинка</th>
                            <th style="vertical-align: middle;width: 20px">Инфо</th>
                            <th style="vertical-align: middle">Название</th>
                            <th style="vertical-align: middle">Цена</th>
                            <th style="vertical-align: middle"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.basketItems">
                            <td>
                                <input type="text"
                                       min="0"
                                       ng-model="item.qty"
                                       ng-keyup="item.recounted = false;vm.checkItemQty(item);"
                                       style="width: 80px; height: 30px;text-align: center"
                                       onClick="this.select();"/><br>
                                <div class="onoffswitch-container">
                                    <span class="onoffswitch">
                                        <input type="checkbox" class="onoffswitch-checkbox" id="inline_{{item.id}}" ng-model="item.ordered" ng-click="vm.itemOrderedChange(item)">
                                        <label class="onoffswitch-label" for="inline_{{item.id}}" ng-click="toggleInline()">
                                            <span class="onoffswitch-inner" data-swchon-text="ДА" data-swchoff-text="НЕТ"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </span>
                                </div>
                            </td>
                            <td width="50px">
                                <div style="width: 50px;height: 50px; overflow: hidden">
                                    <a data-toggle="modal" data-target="#productImgModal">
                                        <img ng-click="vm.selectedImgTitle=item.name;vm.selectedImgUrl=item.imglink" ng-src="{{item.imglink}}" style="height: 50px">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#productInfoModal" ng-click="vm.clickInfo(item)">
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </button>
                            </td>
                            <td><span style="color: #0c7cd5">{{item.code}} -</span>
                                <a ng-click="vm.selectedItemType=item" data-toggle="modal" data-target="#productUseTypeModal">
                                    <span style="color: #9f36d5;font-weight: bold">{{ vm.getTypeStr(item) }}</span></a><br>
                                <span style="color: #019b15">{{item.name}}</span><br>
                                {{item.itemsize}} , {{item.unit}}
                            </td>
                            <td>
                                {{ item.price }} руб.
                            </td>
                            <td>
                                <button type="button" class="close" aria-hidden="true" ng-click="vm.deleteItem(item)">
                                    &times;
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">Итого: {{ vm.basketSum }} руб.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


    <div class="btn-group dropdown" data-dropdown ng-show="vm.basketItems.length > 0">
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" ng-class="{disabled:vm.isChecked}">
            <i class="fa fa-usd"></i> Рассчитать для помещения <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="room in vm.clientRooms">
                <a href="#/client-basket" ng-click="vm.countByRoom(room.id)">{{ room.name }}</a>
            </li>
        </ul>
    </div>

    <section widget-grid id="widget-grid">
        <div class="row" ng-show="vm.clientBasket.idClientRoom&&(vm.clientBasket.idClientRoom != '')" style="margin-top: 30px">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget id="condenced-table-widget1"
                         data-widget-fullscreenbutton="false"
                         data-widget-editbutton="false" data-widget-color="blueDark"
                         data-widget-togglebutton="false" data-widget-deletebutton="false"
                         data-widget-colorbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2><span class="hidden-xs">Расчет для помещения </span>"{{vm.clientBasket.idClientRoom}}"</h2>
                        <div class="widget-toolbar">
                            <a href-void class="btn btn-primary" ng-click="vm.applyForRoom()">Применить расчет</a>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive">

                                <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                    <thead>
                                    <tr>
                                        <th style="vertical-align: middle">Вид</th>
                                        <th style="vertical-align: middle;width: 20px">Рядов</th>
                                        <th style="vertical-align: middle">Штук</th>
                                        <th style="vertical-align: middle">Кв.м</th>
                                        <th style="vertical-align: middle">Цена</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in vm.basketItems">
                                        <td>{{vm.getTypeStr(item)}}</td>
                                        <td>{{item.infoJSON.rows}}</td>
                                        <td>{{item.infoJSON.items}}</td>
                                        <td>{{item.infoJSON.square}}</td>
                                        <td>{{item.infoJSON.newprice}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">Итого: {{ vm.calcSum }} руб.</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <p class="text-center text-muted" if-loading>
        <span class="fa fa-spinner fa-spin fa-4x"></span>
        <br /><br />
        Загрузка данных, подождите...
    </p>

</div>

<!-- Modal -->
<div class="modal fade" id="newBasket" tabindex="-1" role="dialog" aria-labelledby="newBasketLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="newBasketLabel">Новая корзина</h4>
            </div>
            <div class="modal-body">
                <label class="control-label" for="field_name">Наименование</label>
                <input type="text" class="form-control" name="name" id="field_name"
                       ng-model="vm.newBasket.name"
                />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancelNewBasket()">
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.addNewBasket()">
                    Добавить
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="delBasket" tabindex="-1" role="dialog" aria-labelledby="delBasketLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="delBasketLabel">Удаление корзины "{{vm.clientBasket.name}}"</h4>
            </div>
            <div class="modal-body">
                <label class="control-label" for="field_reason">Причина удаления</label>
                <select class="form-control" name="name" id="field_reason" ng-model="vm.clientBasket.infoJSON.delReason">
                    <option value="0">Тестирование</option>
                    <option value="1">Нет в наличии</option>
                    <option value="2">Клиент выбрал другую коллекцию</option>
                    <option value="3">Долго оформляли заказ</option>
                    <option value="4">Дорого</option>
                    <option value="5">Другое...</option>
                </select><br>

                <div ng-show="vm.clientBasket.infoJSON.delReason==5">
                    <label class="control-label" for="field_custom">Укажите причину</label><br>
                    <textarea rows="3" class="form-control" id="field_custom" ng-model="vm.clientBasket.infoJSON.delCustom"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancelDelBasket()">
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.delBasket()">
                    Удалить
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="productImgModal" tabindex="-1" role="dialog" aria-labelledby="productImgLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="productImgLabel">{{vm.selectedImgTitle}}</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <center><img ng-src="{{vm.selectedImgUrl}}" style="width: 100%; height: 100%; max-width: 800px; max-height: 600px"></center>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Закрыть
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="productInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">{{vm.selectedItem.code}} - {{vm.selectedItem.name}}</h4>
                Износостойкость: {{vm.selectedItem.iznos}} , Цвет: {{vm.selectedItem.color}}
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <table id="prodInfoTable" class="table table-bordered table-condensed table-hover">
                            <tbody style=background:white>
                            <tr>
                                <th colspan="3">
                                    <div>
                                        <span style="color: black;">Физ. доступно:</span> <span style="color: red;">{{ vm.stockHeader[0] }}</span>
                                        <span style="color: black;">Полный остаток:</span> <span style="color: red;">{{ vm.stockHeader[1] }}</span>
                                        <span style="color: black;">Резерв:</span> <span style="color: red;">{{ vm.stockHeader[2] }}</span>
                                        <span style="color: black;">В пути:</span> <span style="color: red;">{{ vm.stockHeader[3] }}</span>
                                        <span style="color: black;">В заказах:</span> <span style="color: red;">{{ vm.stockHeader[4] }}</span>
                                    </div>

                                </th>
                            </tr>

                            <tr>
                                <th><span style="color:black">Склад</span></th>
                                <th><span style="color:black">Аналитика</span></th>
                                <th><span style="color:black">Физ.дост.</span></th>
                            </tr>

                            <tr ng-repeat="item in vm.stockData | orderBy:['+stock','-age']">
                                <td>
                                    {{item.stock}}
                                </td>

                                <td>
                                    {{item.analitics}}
                                </td>

                                <td>
                                    {{item.age}}
                                </td>

                            </tr>

                            <tfoot>
                            </tfoot>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Закрыть
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="productUseTypeModal" tabindex="-1" role="dialog" aria-labelledby="productUseTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="productUseTypeModalLabel">Тип изделия</h4>
            </div>
            <div class="modal-body">
                <label class="control-label" for="field_type">Тип</label>
                <select class="form-control" name="name" id="field_type" ng-model="vm.selectedItemType.useType">
                    <option value="1">Светлая</option>
                    <option value="2">Темная</option>
                    <option value="3">Пол</option>
                    <option value="4">Мозаика</option>
                    <option value="5">Бордюр нижний</option>
                    <option value="6">Бордюр верхний</option>
                    <option value="7">Декор</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancelUseType()">
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.applyUseType()">
                    Сохранить
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
