<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Поиск']" icon="search" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <div class="input-group input-group-lg">
        <input class="form-control input-lg" type="text" placeholder="Код номенклатуры или название коллекции..." id="search-product"
               ng-model="vm.searchBox" ng-keyup="vm.onKeyUp($event)">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default" ng-click="vm.clickSearch();">
                <i class="fa fa-fw fa-search fa-lg"></i>
            </button>
        </div>
    </div>

    <div class="row" ng-show="vm.possibleCollections.length > 0" style="margin-top: 50px">
        <div class="col-xs-12 col-sm-6">
            <label class="control-label"><span style="color: black">Выберите коллекцию:</span></label>

            <div class="list-group address-list">
                <a class="list-group-item"
                   ng-repeat="posCollection in vm.possibleCollections"
                   ng-click="vm.choosePossibleCollection(posCollection)">
                    <b>{{ vm.shownameProd(posCollection.name) }}</b></a>
            </div>
        </div>
    </div>

    <section widget-grid id="widget-grid">

    <div class="row" ng-show="vm.searchResult.length > 0" style="margin-top: 50px">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div jarvis-widget id="condenced-table-widget1"
                 data-widget-editbutton="false" data-widget-color="blueDark"
                 data-widget-togglebutton="false" data-widget-deletebutton="false"
                 data-widget-colorbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Коллекция "{{vm.collection}}" , производитель "{{vm.producer}}"</h2>
                    <div class="widget-toolbar" ng-show="vm.searchResult&&vm.searchResult.length > 0&&!vm.isCollectionType">
                        <a href-void class="btn btn-primary" ng-click="vm.searchCollection()">Найти коллекцию</a>
                    </div>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="table-responsive">

                            <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                <thead>
                                <tr>
                                    <th style="vertical-align: middle">
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox-inline" ng-model="vm.checkAllState" ng-click="vm.checkAll()">
                                            <i style="position: relative"></i>
                                        </label>
                                    </th>
                                    <th style="vertical-align: middle">Картинка</th>
                                    <th style="vertical-align: middle;width: 20px">Инфо</th>
                                    <th style="vertical-align: middle">Одного тона<br>(макс.)</th>
                                    <th style="vertical-align: middle">Название</th>
                                    <!--<th style="vertical-align: middle">Ед.изм</th>-->
                                    <!--<th style="vertical-align: middle">Цена</th>-->
                                    <!--<th style="vertical-align: middle">В наличии</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in vm.searchResult">
                                    <td>
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox-inline" ng-model="item.checked" ng-change="vm.checkedStateChanged()">
                                            <i></i>
                                        </label>
                                    </td>
                                    <td>
                                        <div style="width: 100px; height: 50px; overflow: hidden">
                                            <a data-toggle="modal" data-target="#productImgModal">
                                            <img ng-click="vm.clickImg(item)" ng-src="{{item.imgUrl}}" style="height: 50px">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <!--<button type="button" class="btn btn-default btn-sm" ng-click="clickInfo(item)">-->
                                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#productInfoModal" ng-click="vm.clickInfo(item)">
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                        </button>
                                    </td>
                                    <td>{{item.tonQty}}</td>
                                    <td><span style="color: #0c7cd5">{{item.sidUser}}</span><br>
                                        <span style="color: #019b15">{{vm.show2rowName(item.name)[0]}}</span><br>
                                        {{vm.show2rowName(item.name)[1]}} , {{item.unit}}
                                    </td>
                                    <!--<td>{{item.unit}}</td>-->
                                    <!--<td>{{item.price}} руб.</td>-->
                                    <!--<td>{{item.fizQty}}</td>-->
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="btn-group dropdown" data-dropdown ng-show="vm.searchResult.length > 0">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-class="{disabled:!vm.isChecked}">
            <i class="fa fa-shopping-cart"></i> Добавить в корзину <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="basket in vm.clientBaskets">
                <a href="#/seller-search" ng-click="vm.sendToBasket(basket.id)">{{ basket.name }}</a>
            </li>
        </ul>
    </div>

    <h2 class="row-seperator-header" ng-show="vm.piclinks.length > 0"><i class="glyphicon glyphicon-picture"></i> Интерьеры:</h2>

    <div class="row" ng-show="vm.piclinks.length > 0">
        <div ng-repeat="pic in vm.piclinks" style="float: left; padding-left: 10px; padding-top: 10px">
            <a data-toggle="modal" data-target="#carouselImgModal">
            <img ng-click="vm.clickColPic(pic)" ng-src="{{pic.thumbUrl}}" style="height: 50px">
            </a>
        </div>
    </div>

    <p class="text-center text-muted" if-loading>
        <span class="fa fa-spinner fa-spin fa-4x"></span>
        <br /><br />
        Загрузка данных, подождите...
    </p>

    </section>

    <!-- Modal -->
    <div class="modal fade" id="productInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{vm.selectedItem.sidUser}} - {{vm.selectedItem.name}}</h4>
                    Износостойкость: {{vm.selectedItem.iznos}} , Цвет: {{vm.selectedItem.color}}
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <table id="prodInfoTable" class="table table-bordered table-condensed table-hover">
                                <tbody style=background:white>
                                <tr>
                                    <th colspan="3">
                                        <div>
                                            <span style="color: black;">Физ. доступно:</span> <span style="color: red;">{{ vm.stockHeader[0] }}</span>
                                            <span style="color: black;">Полный остаток:</span> <span style="color: red;">{{ vm.stockHeader[1] }}</span>
                                            <span style="color: black;">Резерв:</span> <span style="color: red;">{{ vm.stockHeader[2] }}</span>
                                            <span style="color: black;">В пути:</span> <span style="color: red;">{{ vm.stockHeader[3] }}</span>
                                            <span style="color: black;">В заказах:</span> <span style="color: red;">{{ vm.stockHeader[4] }}</span>
                                        </div>

                                    </th>
                                </tr>

                                <tr>
                                    <th><span style="color:black">Склад</span></th>
                                    <th><span style="color:black">Аналитика</span></th>
                                    <th><span style="color:black">Физ.дост.</span></th>
                                </tr>

                                <tr ng-repeat="item in vm.stockData | orderBy:['+stock','-age']">
                                    <td>
                                        {{item.stock}}
                                    </td>

                                    <td>
                                        {{item.analitics}}
                                    </td>

                                    <td>
                                        {{item.age}}
                                    </td>

                                </tr>

                                <tfoot>
                                </tfoot>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Закрыть
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal -->
    <div class="modal fade" id="productImgModal" tabindex="-1" role="dialog" aria-labelledby="productImgLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="productImgLabel">{{vm.selectedImgTitle}}</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <center><img ng-src="{{vm.selectedImgUrl}}" style="width: 100%; height: 100%; max-width: 800px; max-height: 600px"></center>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Закрыть
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal -->
    <div class="modal fade" id="carouselImgModal" tabindex="-1" role="dialog" aria-labelledby="carouselImgLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="carouselImgLabel">{{vm.selectedImgTitle}}</h4>
                </div>
                <div class="modal-body">

                    <div id="myCarousel-2" class="carousel slide" data-smart-ride-carousel data-interval="0"
                         ng-show="(vm.piclinks)&&(vm.piclinks.length > 0)">
                        <div class="carousel-inner">
                            <div class="item" ng-repeat="pic in vm.piclinks" ng-class="{active:!$index}">
                            <!--<div class="item" ng-repeat="pic in vm.piclinks" active="pic.active">-->
                                <img src="{{pic.bigUrl}}">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel-2"  ng-non-bindable data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
                        <a class="right carousel-control" href="#myCarousel-2"  ng-non-bindable data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Закрыть
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

