<div id="content">

    <div class="row">
        <big-breadcrumbs items="['Поиск клиента']" icon="user" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <div class="row" style="margin-bottom: 15px">
        <label style="margin-left: 15px">
            <input type="radio" ng-model="vm.searchType" value="byName">
            Поиск по наименованию
        </label>
        <label style="margin-left: 15px">
            <input type="radio" ng-model="vm.searchType" value="byCode">
            Поиск по коду
        </label>
    </div>

    <div class="input-group input-group-lg">
        <input class="form-control input-lg" type="text"
               placeholder="{{vm.searchType==='byName'&&'Наименование клиента'||'Код клиента'}}" id="search-product"
               ng-model="vm.searchBox" ng-keyup="vm.onKeyUp($event)">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default" ng-click="vm.clickSearch();">
                <i class="fa fa-fw fa-search fa-lg"></i>
            </button>
        </div>
    </div>

    <p class="text-center text-muted" if-loading>
        <span class="fa fa-spinner fa-spin fa-4x"></span>
        <br /><br />
        Загрузка данных, подождите...
    </p>

    <div class="row" ng-show="vm.possibleClients.length > 0" style="margin-top: 50px">
        <div class="col-xs-12 col-sm-6">
            <label class="control-label"><span style="color: black">Выберите клиента:</span></label>

            <div class="list-group address-list">
                <a class="list-group-item"
                   ng-repeat="posClient in vm.possibleClients"
                   ng-click="vm.choosePossibleClient(posClient)">
                    <b>{{posClient.name}}</b><br>{{posClient.address}}</a>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 50px;margin-left: 15px" ng-show="vm.clientInfo">
        <h3>Клиент: {{vm.clientInfo.name}}</h3>
        <strong>Код клиента: </strong>{{vm.clientInfo.code}}<br><br>
        <strong>Статистика: </strong>{{vm.clientStatistic}}<br><br>
        <strong>Скидка: </strong>{{vm.clientInfo.discount}}<br><br>
        <strong>Адрес: </strong>{{vm.clientInfo.address}}<br>
        <abbr title="Телефон"><strong>Тел: </strong></abbr>{{vm.clientInfo.phone}}<br>
        <abbr title="Мобильный телефон"><strong>Моб.тел: </strong></abbr>{{vm.clientInfo.cphone}}<br><br>
        <strong>Группа: </strong>{{vm.clientInfo.group}}<br>
        <strong>Менеджер: </strong>{{vm.clientInfo.manager}}<br>
        <strong>Центр затрат: </strong>{{vm.clientInfo.center}}<br>
        <strong>Примечание: </strong>{{vm.clientInfo.contacttext}}<br><br>

        <button type="button" class="btn btn-warning" ui-sref="app.terraSeller.client">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;Отменить
        </button>
        <button type="submit" class="btn btn-primary" ng-click="vm.AddClient()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;Сохранить
        </button>
    </div>

    <div class="row" style="margin-top: 50px;margin-left: 15px" ng-show="!vm.clientInfo">
        <button type="button" class="btn btn-success" ui-sref="app.terraSeller.client">
            <span class="glyphicon glyphicon-list"></span>&nbsp;К списку клиентов
        </button>
    </div>

</div>

